body {
  font-family: Arial, sans-serif;
}

h1, h2 {
  margin-bottom: 1rem;
}

button {
  margin-right: 5px;
}

.show {
  display: block;
}

.hide {
  display: none;
}


.archivedNotesWrapper {
  display: none;
}

.archivedNotesWrapper.show{
  display: block;
}

th.archiveNotes {
  cursor: pointer;
}

th.archiveNotes a{
  text-decoration: none;
  color: #ffffff;
}

span.badge {
  display: inline-block;
  margin-left: .5rem;
}

.table>:not(caption)>*>* {
  padding: 0.75rem;
  vertical-align: middle;
}

.category-icon {
  height: 40px;
  width: 40px;
  background: #6c757d;
  border-radius: 50%;
  padding: 5px;
}

td.note-description {
  width: 30%;
}

td.actions {
  width: 20%;
}

img.archive-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}